* {
    margin: 0px
}

.nav-link:hover, .navbar-brand:hover {
    text-decoration: none;
    color: #C4DFE6;
}

.reg-btn:hover {
    border-color: #C4DFE6;
}

.nav-text-color {
    color: #66A5AD;
}

.li-reg {
    margin-right: 5px;
}

.reg-btn {
    border: 2px solid #66A5AD;
    border-radius: 13px;
}

.body-color {
    background-color: #C4DFE6;
}

.header-color {
    background-color: #07575B;
}

.main-container {
    display: flex; /* Устанавливаем контейнер как flex-контейнер */
    flex-direction: column; /* Располагаем элементы в столбец */
    min-height: 100vh; /* Минимальная высота контейнера на весь экран */
}

    /* Стили для содержимого */
.main-content {
    flex: 1; /* Занимаем всё доступное пространство */
    display: flex; /* Устанавливаем элемент как flex-элемент */
    justify-content: center; /* Выравниваем содержимое по горизонтали */
}

    /* Стили для содержимого */
.main-content-inner {
    text-align: left; /* Центрируем текст по центру */
    padding-left: 10%
}

.font-200 {
    font-size: 200px;
    color: #07575B;
}

.thin-text {
    font-weight: lighter;
}

.bold-color {
    color: #003B46;
}

.custom-div {
    padding: 10px;
    padding-top: 0px;
    text-align: center;
}

.custom-div-img {
    padding: 10px;
    text-align: center;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.product-item-container {
    background-color: #66A5AD;
    border 1px solid: #66A5AD;
    border-radius: 30px;
    margin: 10% 10%;
}

.person-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}

.person-item-container {
    justify-content: center;
    width: 80%;
    background-color: #66A5AD;
    border 1px solid: #66A5AD;
    border-radius: 30px;
    margin-top: 15%;
    margin-bottom: 5%;
    margin-left: auto !important;
    margin-right: auto !important;
}

.mt-150 {
    margin-top: 150px;
}

.person-div {
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

.img-radius {
    border-radius: 30px;
}


.list-pages {
	text-align: center;
}

.list-pages ul {
	list-style: none;
}

.list-pages ul li {
	display: inline-block;
}

.list-pages a {
	color: #07575B;
	font-size: 24px;
	text-decoration: none !important;
}

.list-pages .page-num {
	display: inline-block;
	width: 50px;
	height: 50px;
	border: 4px solid #07575B;
	border-radius: 30px;
	opacity: 0.3;
}

.list-pages .page-num:hover {
    opacity: 0.6;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #07575B;
    color: #66A5AD;
    padding: 10px 20px;
}

.footer-left {
    margin-left: 5%;
}

.footer-left p {
    margin-bottom: 0;
    margin-right: 10px;
}

.footer-right {
    margin-right: 5%;
}

.footer-right a {
    margin-left: 10px;
    color: #66A5AD;
}

.footer-right a:hover {
    color: #C4DFE6;
}