{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YourBank</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% bootstrap_css %}
</head>
<body class="body-color">
    <header class="header-color">
        {% include 'header.html' %}
    </header>
    <main class="main-container">
        {% block content %}
        {% endblock %}
        <nav class="row justify-content-center list-pages">
            <ul>
                {% if page_obj.has_previous %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.previous_page_number }}"><b>&lt;</b></a>
                    </li>
                {% endif %}
            </ul>
            <ul>
                {% if page_obj.has_next %}
                    <li class="page-num">
                        <a href="?page={{ page_obj.next_page_number }}"><b>&gt;</b></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </main>
</body>
</html>