{% extends 'base.html' %}

{% block content %}
<div class="product-container">
    {% for p in products %}
        <div class="product-item-container">
            <div class="custom-div-img">
                <a href="/products/{{ p.id }}">
                    <img class="img-radius" src="{{ p.image.url }}" alt="img" height="200" width="300">
                </a>
            </div>
            <div class="custom-div"><b>{{ p.cred_type }}</b> '{{ p.product_name }}'</div>
        </div>
    {% endfor %}
</div>
{% endblock %}